body {
    height: 3000px;
    background-color: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w {
    width: 1000px;
    margin: 0 auto;
}

a {
    padding: 0 17px;
    color: #8590a6;
    text-decoration: none;
}

i {
    font-style: normal;
}

li {
    list-style: none;
}

.search button {
    padding: 10px;
    line-height: 15px;
    height: 35px;
    background-color: #f6f6f6;
    border-color: transparent;
}

input[type="text"] {
    outline: none;
    border-color: transparent;
    padding-left: 12px;
}

button {
    cursor: pointer;
    border-color: transparent;
    outline: none;
}