body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #aab8cc;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
section {
  background-color: #ffffff;
  margin-bottom: .266667rem;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.44rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-size: 0.933333rem;
  color: #1c1c1c;
  border-bottom: 1px solid #eaeaea;
}
nav{
  /* display: flex; */
  justify-content: center;
}

.navlist {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 height: 11.146667rem;
 padding: 1.2rem 0rem 1.386667rem 0rem;
}
.navlist a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  height: 3.6rem;
  text-align: center;
}
.navlist a:nth-child(-n+3) {
  margin-bottom: 0.266667rem;
}
.navlist a img {
  width: 3.6rem;
  height: 3.6rem;
}
.navlist a span {
  font-size: 0.666667rem;
}
.go {
  display: flex;
  justify-content: center;
  padding: 0.4rem 0.031467rem;
}
.go img {
  width: 100%;
}
.jobguide {
  position: relative;
  height: 100%;
}
.job-fo .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.job-fo .swiper-slide img {
  width: 60%;
  
}
.swiper-container {
  display: flex;
  justify-content: center;
  /* width: 17.893333rem; */
  /* height: 10.453333rem; */
}
.swiper-slide p {
  font-size: 0.666667rem;
}
[class*=con-hd] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}
[class*=title] {
  display: flex;
}
[class*=title] span {
  font-size: 0.746667rem;
}
[class*=more] {
  font-size: 0.586667rem;
}


section.charge.content {
  padding-bottom: 3.733333rem;
}


.charge .swiper-slide {
  align-items: center;
  font-size: 18px;
  background: #fff;
  background-color: #fff;
  border-radius: 0.266667rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.charge .swiper-slide img {
  width: 100%;
}
.charge .swiper-slide span {
  font-size: 0.693333rem;
  margin: 0.533333rem 0;
  font-weight: 400;
}
.charge .swiper-slide p {
  font-size: 0.693333rem;
  color: #ff4400;
  /* padding: 0 0.266667rem; */
}
.content {
  padding: 0.9rem;
  overflow: hidden;
}


.appnav{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.453333rem;
    justify-content: space-around;
    padding: 0.133333rem 0;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
}

.an-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.an-item img{
  width: 1.066667rem;
  height: 1.066667rem;
}

.an-item p{
  font-size: 0.586667rem;
}

[class*=title] img {
  width: .986667rem;
  height: .986667rem;
}


